body {
    text-align: center;
    background: rgba(255, 230, 194, 0.3);
}

button {
  margin: 2em;
}

h1 {
    font-family: Helvetica;
    font-size: 40px;
    margin: .2em;
}

h2 {
    padding: 10px;
    font-family: Helvetica;
    font-variant: small-caps;
    font-size: 15px;
    margin: 1.15em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

form {
  font-family: Helvetica;
  font-variant: small-caps;
  font-size: 15px;
}

table,
tr,
td {
    border: 1px solid black;
    background: rgb(255, 255, 255);
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}
